/* ===== RESET ===== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Orbitron',sans-serif;
    background:linear-gradient(
        180deg,
        #250000 0%,
        #4b0000 50%,
        #250000 100%
    );
    color:white;
    overflow-x:hidden;
}

/* ===== SCROLLBAR ===== */

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    background:#1a0000;
}

::-webkit-scrollbar-thumb{
    background:#f7c948;
    border-radius:20px;
}

/* ===== HEADER ===== */

header{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:30px;
}

h1{
    font-size:5rem;
    color:#f7c948;
    text-shadow:
    0 0 10px rgba(247,201,72,.8),
    0 0 20px rgba(247,201,72,.6),
    0 0 40px rgba(247,201,72,.4);
}

.subtitle{
    margin-top:15px;
    font-size:1.2rem;
    color:#ddd;
}

/* ===== COUNTDOWN ===== */

.countdown{
    margin-top:30px;
    background:rgba(0,0,0,.35);
    backdrop-filter:blur(10px);
    border:2px solid #f7c948;
    border-radius:15px;
    padding:20px 40px;
    font-size:2rem;
    font-weight:bold;
}

/* ===== BUTTON ===== */

.discord-btn{
    margin-top:30px;
    display:inline-block;
    padding:15px 35px;
    text-decoration:none;
    background:#f7c948;
    color:black;
    font-weight:bold;
    border-radius:12px;
    transition:0.3s;
}

.discord-btn:hover{
    transform:translateY(-4px);
    box-shadow:0 0 20px rgba(247,201,72,.6);
}

/* ===== SECTION ===== */

section{
    padding:100px 10%;
}

.section-title{
    text-align:center;
    font-size:3rem;
    margin-bottom:60px;
    color:#f7c948;
}

/* ===== TIMELINE ===== */

.timeline{
    max-width:900px;
    margin:auto;
}

.timeline-item{
    background:rgba(0,0,0,.35);
    backdrop-filter:blur(10px);
    border-left:5px solid #f7c948;
    margin-bottom:25px;
    padding:25px;
    border-radius:15px;
    transition:.3s;
}

.timeline-item:hover{
    transform:translateX(10px);
}

.timeline-item h3{
    color:#f7c948;
    margin-bottom:10px;
}

/* ===== PLAYER GRID ===== */

.players{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(180px,1fr));
    gap:25px;
}

.player-card{
    background:rgba(0,
